*{
    margin: 0;
}
body{
    background-image: url("assets/bgg.gif");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #1f1919;
    background-repeat: no-repeat;
    height: 100%;

    
}
@media only screen and (min-device-width:320px) and (max-device-width:480px){
    .content #text  #left1{
        margin: 0 0 0 0 ;
        width: 30%;
    }
}    

nav{
    background-color: rgba(49, 30, 216, 0.918);
    margin: 0;
    height: 7vh;
    text-align: center;
    border-bottom: 4px solid red;
    
}
nav a{
    /*color: rgb(240, 243, 243);
    text-align: center;
    text-decoration: none;
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;*/
    display: inline-block;
    
    font-size: 2em;
    padding: 1px 25px;
    text-decoration: none;
    margin-top: 5px;
    color: #fff;
    font-family: 'Mukta', sans-serif;
    
}

.content{
    height:80em;
    margin-top: 20px;
    margin-left: .5em;
    margin-right: 2em;

    width:98vw;
    opacity: 90%;
    background-color: black;
    color: aliceblue;
    align-items: center;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: medium;
    text-align: center;
      }
p{
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
    text-align: justify; 
}

.content #top{
    width:100%;
    height: 600px;
}
#bottom{
    width:100%;
}
nav a:hover{
    overflow: hidden;
    opacity: 70%;
    color:turquoise;
    padding: 2px;
    border: .5px solid white;
    border-radius: 8px;
    background-color: black;
}
h1:hover{
    color: aqua;


}
img{
    padding: 20px;
    margin: 2em;
    border:2px solid burlywood;
}
.content #left1{
    float:left;
}
.content #right{
    float: right;
}
#new {
    float: left;
    width: 60%;
    margin-top: 50px;
    margin-left: 10px;
}
#text{
    width:60%;
    float:right;
    margin-top: 50px;
    margin-right: 2em;
    padding: 2px;
}
footer{
   color: #fff; 
   float: bottom;
   background-color: rgba(137, 43, 226, 0.801);
   text-align: center;
   opacity: 80%;
   margin: 1em .5em 0 1em ;

}
ul li{
    text-decoration: none;
    list-style: none;
    display: inline;
    font-family: sans-serif;
    margin: 4em;
    text-align: center;
    
}
footer p{
    text-align: center;
}